Externals/AForge.NET Framework-2.2.5-(libs only)/Copyright.txt
SurveillanceCam2DB/ConsoleForTestingPurpose/job_scheduling_data_2_0.xsd
SurveillanceCam2DB/BLL/job_scheduling_data_2_0.xsd
BLL/job_scheduling_data_2_0.xsd
Externals/
