SurveillanceCam2DB/ConsoleForTestingPurpose/job_scheduling_data_2_0.xsd
SurveillanceCam2DB/BLL/job_scheduling_data_2_0.xsd
BLL/job_scheduling_data_2_0.xsd
Externals/
WCF/ServiceLibrary/obj/
WCFServiceLibrary/bin/Debug/Quartz.xml
WCFServiceLibrary/bin/
SurveillanceCam2DB/ConsoleForTestingPurpose/bin/
Model/bin/
Hemsamariten/bin/
SurveillanceCam2DB/BLL/obj/
ConsoleForTestingPurpose/bin/
Tellstick/Model/bin/
Tellstick/Model/obj/
Tellstick/TelldusNETWrapper/obj/
Tellstick/TelldusNETWrapper/bin/
